@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');



body {

  font-family: 'Vazirmatn', sans-serif;

  direction: rtl;

  background-color: #eee;

  margin: 0;

  padding: 20px;

}



.product-container {

  display: flex;

  flex-wrap: wrap;

  background: #fff;

  border-radius: 12px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  overflow: hidden;

  max-width: 1200px;

  margin: auto;

}



.left, .center, .right {

  flex: 1;

  padding: 20px;

}



.left {

  background-color: #431313;

  color: white;

}



.price {

  font-size: 1.4rem;

  font-weight: bold;

  margin-bottom: 15px;

}



.btn-add {

  background-color: #dedcdd;

  color: #000;

  padding: 10px 20px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

}



.btn-add:hover {

  background-color: #f10000bf;

}



.center h1 {

  font-size: 1.8rem;

  margin-bottom: 10px;

}



.center p {

  font-size: 1rem;

  color: #444;

  line-height: 1.6;

}



.right img {

  max-width: 100%;

  height: auto;

  border-radius: 10px;

}



@media (max-width: 768px) {

  .product-container {

    flex-direction: column;

  }



  .left, .center, .right {

    width: 100%;

    padding: 15px;

  }



  .center h1 {

    font-size: 1.4rem;

  }



  .center p {

    font-size: 0.95rem;

  }



  .btn-add {

    width: 100%;

  }

}
