@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');
body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  background-color: #ffffff65;
  margin: 0;
  padding: 0;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 151px;
  padding: 40px 20px;
  background-color: #330000;
}

.product-card {
  width: 300px;
  background: #0a151b;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 100px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 0 10px #ff0000;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-15px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 88px;
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .product-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .product-card {
    width: 95vw;
    max-width: 500px;
    font-size: 1.6rem;
    padding: 30px;
    border-radius: 40px;
  }

  .product-card img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}















